
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline:  none;
    font-family: 'Roboto',sans-serif;
    
    
}
body{
		color: #494949;
		--fontsize1:24px;
		--fontsize2: 17px;
		--fontsize3: 30px;
		--fontsize4: 72px;
		--fontsize5: 36px;
		font-size: var(--fontsize1);
}

/*******************
*****GLOBAL******
********************/

footer{
	margin-top: 60px;
}
img{
    width: 100%;
    height: auto;
}
a{
    text-decoration: none;    
}
p,span{
	font-size: var(--fontsize1)
}
input,select,textarea{
	border: 1px solid #333;
	background-color: #FFF;
}
input,textarea{
	padding-left: 10px;
	font-size: var(--fontsize2);
}
textarea{
	padding-top: 10px;
}


.form-group{
	width: 100%;
	margin: 10px 0;  
}
.form-group input[type='text'],
.form-group input[type='email'],
.form-group input[type='password'],
.form-group input[type='file'],
.form-group select{
    line-height: 72px;
    height: 72px;
    width: 100%;
}

.form-control{
	width: 100%;
	height: 75px;
	display: block;
	font-size: var(--fontsize1);
}
.form-group label{
	display: block;
	font-size: var(--fontsize1);
	margin-bottom: 5px;
	font-weight: bold;
}
.form-group textarea{
    height: 200px;
    width: 100%;
}
/*******************
*****GLOBAL******
********************/

/*******************
*****CABEÇALHO******
********************/

header{ 
	display: flex;   
	width: 100%;   
	align-items: center;
	padding: 5px 0;
}

.conteudo{
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}
.top{
	display: flex;
	justify-content: space-between;
	align-items: baseline;
}

.link_buttons .btn:first-child{
	margin-bottom: 30px;
}
.btn{
	font-size: var(--fontsize3);
	text-align: center;
	width: 277px;
	height: 57px;
	line-height: 57px;
	display: block;
	font-weight: 700;
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, .25);
}
.btn-primary{
	border: 0.5px solid #C87092;
	color: #FD96BE;
	background-color: #FFF;
}

.btn-secondary{
	background-color: #FFB5C9;
	color: #FFF;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 400px;
    
}
.page_title{
    font-family: "IBM Plex Serif";
    font-size: var(--fontsize4);
    line-height: 1.2;
    color: #C87092;
}

.form_title{
    color: #FFF;
}

.alert{
	margin-top: 30px;
	padding: 20px;
	border: 2px solid;
}

.alert-success{
	border-color: rgb(3, 77, 3);
	color: rgb(3, 77, 3);;
	background-color: lightgreen;
}

.alert-erro{
	border-color: rgb(65, 22, 22);
	color: rgb(65, 22, 22);;
	background-color: brown;
}

.month_buttons{
	display: flex;
	justify-content: space-between;
}
.checkbutton{
	display: flex;
	margin-right: 10px;
}
.checkbutton:last-child{
	margin-right: 0;
}
.checkbutton input{
	display: none;
}
.month_buttons .checkbutton label{
	padding: 15px;
	border: 1px solid #D7D6D6;
	border-radius: 3px;
	font-size: var(--fontsize2);
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, .25);
	cursor: pointer;
	font-weight: 700;
}
.checkbutton label.checked{
	background-color: #FFBED7;
}
.abelhas{
	margin: 20px auto;
}
.abelha{
	padding: 5px;
	background-color: #D7D6D6;
	border-radius: 5px;
	font-size: var(--fontsize1);
	font-weight: 700;
	font-family: 'IBM Plex Serif';
	margin-right: 10px;
}
/*******************
*****PRINCIPAL******
********************/

@media(max-width:1439px){
	body{
		--fontsize1: 16px;
    --fontsize2: 12px;
    --fontsize3: 20px;
    --fontsize4: 48px;
    --fontsize5: 24px;
		font-size: var(--fontsize1);
	}
	.conteudo{
		max-width: 980px;
	}
	.form-group input[type='text'],
	.form-group input[type='email'],
	.form-group input[type='password'],
	.form-group input[type='file'],
	.form-group select{
			line-height: 40px;
			height: 40px;
			width: 100%;
	}
	.btn{
    width: 200px;
    height: 40px;
    line-height: 40px;
	}

	.month_buttons .checkbutton label{
		padding: 10px;
	}
}


@media(max-width:480px){
	body{
		--fontsize1: 12px;
    --fontsize2: 9px;
    --fontsize3: 16px;
    --fontsize4: 30px;
    --fontsize5: 12px;
		font-size: var(--fontsize1);
	}
	.conteudo{
		max-width: 360px;
		padding: 0 2%;
	}
	.form-group input[type='text'],
	.form-group input[type='email'],
	.form-group input[type='password'],
	.form-group input[type='file'],
	.form-group select{
			line-height: 30px;
			height: 30px;
			width: 100%;
	}
	.btn{
    width: 200px;
    height: 30px;
    line-height: 30px;
	}
	.link_buttons{
    display: none;
	}
	.month_buttons{
		flex-wrap: wrap;
		justify-content: flex-start;
	}
	.checkbutton{
		margin-bottom: 10px;
	}
}

@media(max-width:360px){
	.conteudo{
		padding: 5px;
	}
}